* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*shared style*/
#font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}
/*main style*/
nav {
  width: 74%;
  max-width: 1600px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  width: 365px;
  font-weight: 500;
}
nav .menu a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
.logo {
  width: 139px;
  height: 60px;
  margin: 16px 0px;
}
.btn {
  max-width: auto;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  background-color: #30b868;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transform: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_btn {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 38px;
}
.banner_btn .btn img {
  margin-left: 10px;
}
.access-button {
  width: 229px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #30b868;
  background-color: rgba(255, 255, 255, 1);
  padding: 8px 12px;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 16px;
}
.status-indicator {
  width: 8px;
  height: 8px;
  background-color: #34c759;
  border-radius: 8px;
  margin-right: 9px;
}
.banner_btn_2 {
  width: 198px;
  background: transparent;
  padding: 12px 16px 12px 16px;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
}
.section-heading {
  max-width: 1360px;
  text-align: center;
  margin: 0 auto;
}
.banner_btn .banner_btn_2 i {
  margin-right: 4px;
}
.btn:hover {
  background-color: #293ce8;
  transform: scale(1.1);
}
#banner {
  text-align: center;
  height: 600;
  background: url(./assets/hero-bg.png);
  max-width: 1600px;
  min-height: 674px;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 120px 70px 120px 134px;
}
#banner .banner-content {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#banner .banner-content h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
}
.color-white {
  color: rgba(255, 255, 255, 1);
}
.color-green {
  color: rgba(48, 184, 104, 1);
}
#banner .banner-content p {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 32px;
}
#notes {
  align-items: center;
  justify-content: center;
  height: 500px;
  margin: 0 auto;
  max-width: 1600px;
  background-color: #fafdfc;
  padding: 120px;
  padding-top: 0;
}
#notes .notes-container {
  width: 74%;
  max-width: 1360px;
  margin: 0 auto;
}
.section-heading {
  width: 74%;
  height: 135px;
  padding-top: 44px;
}
.section-heading h2 {
  font-size: 35px;
  font-weight: 700;
}
.notes-box {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  height: 350px;
  margin: 0 auto;
}
#notes .notes-container .notes-box {
  display: flex;
  gap: 24px;
}
.notes-box .notes-card {
  background-color: rgba(255, 255, 255, 1);
  padding: 24px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  width: 1360px;
  height: 300px;
}
.notes-card img {
  width: 60px;
  background-color: rgba(249, 85, 85, 1);
  border-radius: 100%;
  padding: 14px;
}
.notes-card h3 {
  font-size: 25px;
  font-weight: 700;
  color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
  margin-top: 14px;
}
#notes .notes-container p,
#brain-section .brain-content p,
.notes-card p,.access-container p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-top: 16px;
}

#brain-section {
  max-width: 1360px;
  height: 600px;
  margin: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.brain-image {
  max-width: 600px;
  border-radius: 12px;
}
#brain-section .section-title {
  color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
}
#brain-section .brain-content .top-solution {
  font-size: 16px;
  color: #308868;
}
.li-item ul {
  margin-top: 40px;
  gap: 16px;
}
.li-item li {
  display: flex;
  gap: 6px;
  margin-bottom: 16px;
  list-style-type: none;
  color: var(--Style, rgba(0, 25, 49, 1));
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
#ready-section {
  margin: 0 auto;
  width: 1360px;
  background-color: rgba(247, 246, 242, 1);
  text-align: center;
  padding: 80px 40px 80px 40px;
  border-radius: 12px;
  margin-bottom: 120px;
}
.text-center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
.ready-p{
  margin-top: 16px;
  color: #627382;
}
.text-center img{
  margin-left: 5px;
}
#footer-container{
  width: 1600px;
  padding: 120px 120px 30px 120px;
  margin: 0 auto;
  background-color: var(--Style, rgba(0, 25, 49, 1));;
}
.footer-section{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
  gap: 790px;
}
.social h4{
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 500;
}
.social img{
  width: 20px;
  margin-top: 10px;
}
.logo-footer img{
width: 139px;
}
.custom-footer hr{
  border: 1px solid var(--DS New/Colors/Stroke/Gray-Light, rgba(229, 231, 235, 1));
  margin-top: 75px;
  margin-bottom: 30px;
}
.custom-footer p{
text-align: center;
color: rgba(250, 250, 250, 1);
font-size: 16px;
}
